.top-banner{
    padding-top: 50px;
}

.form-control{
    margin-bottom: 10px;
}

.top-banner h1{
    padding-bottom: 10px;
}

.form-group{
    margin-top: 50px;
}

input {
    -webkit-appearance: none;
  }

  .display{
      margin-top: 10px;
  }